<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ekoapp.ekosdk.uikit.logging">

    <application>
        <provider
            android:name=".UiKitProvider"
            android:authorities="${applicationId}.UikitLoggingProvider"
            android:exported="false" />
    </application>

</manifest>